.CartOverviewBox{
    width: 28%;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    position: sticky;
    top: 5rem;
    margin-top: .9rem;
    right: 0;
    height: fit-content !important;
    padding: 1rem;
}
h3{


}
.CartOverviewBox .detailsBox{
    display: flex;
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    padding: .7rem 1rem;
}
.left, .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.checkout_btn{
    margin-top: 1rem;
    border-radius: .3rem;
    border: none;
    background: #fec13a;
    box-shadow: 1px 2px 3px rgb(157, 136, 3);
    padding: .7rem 0;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .1s all;
    width: 100%;

}
.checkout_btn:active{
    box-shadow: 0px 1px 3px rgb(157, 136, 3);
}