* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .product {
    max-width: 400px;
    padding-bottom: 0.4rem;
    margin-bottom: 0.3rem;
  }
  .products {
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-evenly;
  }
  .products .product {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .products .product .prodImg {
    width: 400px;
    max-width: 385px;
    height: 300px;
    border: 1px solid;
  }
  
  .products .product .prodImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .products .product .title {
    letter-spacing: 0.05rem;
    color: rgb(27, 27, 27);
  }
  .btn{
    font-weight: 500;
  }
  .products .product .prodBottom {
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .products .product .prodBottom .discount {
    color: rgb(22, 145, 22);
  }
  .red200{
    color: rgb(239, 25, 25) !important;
  }
  .products .product button {
    margin: 0.5rem 0 0;
    padding: 0.8rem 0.2rem;
    border-radius: 3rem;
    border: none;
    color: rgb(0, 110, 255);
    font-size: 1.1rem;
    background: rgb(216, 216, 216);
    cursor: pointer;
  }
  
  .products .product button:hover {
    background: rgb(194, 194, 194);
  }
  