nav {
    padding: 1rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px #0000004d;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    background: white;
}

.logo {
    color: rgb(0, 91, 166);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-left ul {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
}

.nav-left ul li {
    padding: .3rem 1rem;
    text-decoration: none;
    transition: .3s;
    border-radius: 1rem;
    background: rgba(0, 0, 0, .1);
    list-style: none;
}

.nav-left ul li:hover {
    background: rgb(168, 203, 249);
    cursor: pointer;
}

.nav-left .cart-place {
    position: relative;
    margin-right: 1rem;
    cursor: pointer;
}

.nav-left .cart-place img {
    width: 2rem;
}

.nav-left .cart-place .cart-count {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    padding: .6rem;
    font-weight: bold;
    width: 13px;
    border-radius: 50%;
    height: 13px;
    display: flex;
    justify-content: center;
    font-size: .7rem;
    align-items: center;
    background-color: rgb(235, 23, 23);
    color: white;
}